.mainStart {
  background-color: rgba(24, 171, 162, 0.6);
  height: 100vh;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
}
.newWalletMain {
}
.getStartheading {
  color: #fff;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 10px;
}
.backBtn {
  border: none;
  color: white;
  background: none;
  align-items: center;
  display: flex;
  gap: 5px;
}
.stepperMain {
  display: flex;
  align-items: center;
  padding-top: 70px;
  gap: 20px;
}

.line {
  width: 98px;
  height: 5px;
  background: rgba(24, 171, 162, 0.6);
}
.everyStep {
  display: flex;
  align-items: center;
  gap: 10px;
}
.stepperCircle {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.everyStep p {
  color: white;
  font-size: 15px;
  font-weight: 400;
}
.imgContentWrapper {
  display: flex;
  align-items: flex-start;
  gap: 50px;
  margin-top: 60px;
  height: 350px;
}
.buttonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
}
.cancelBtn {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 700;
  width: 250px;
  height: 40px;
}
.gotItBtn {
  background: rgba(24, 171, 162, 0.63);
  color: white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: none;
  font-size: 16px;
  font-weight: 700;
  width: 250px;
  height: 40px;
}
.logoBox {
  position: fixed;
  right: 50px;
  bottom: 0;
}
.content {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.content h3 {
  color: #fff;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.content p {
  color: #fff;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.content li {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
input {
  background: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  width: 60%;
  height: 30px;
  color: rgba(255, 255, 255, 0.7);
}

input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}
.nodeName {
  color: rgba(0, 255, 239, 0.87);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 10px;
}
.chooseWhether {
  margin-top: 40px;
  margin-left: 30px;
}
.WalletsWrap {
  display: flex;
  padding-left: 25px;
  padding-top: 25px;
  width: 75%;
  justify-content: space-between;
}
.imgBtnWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.chooseTypo {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.useOwnWrapper {
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  padding: 60px;
  justify-content: space-between;
  gap: 50px;
  width: 70%;
}

.useOwnMainStart {
  background: rgba(24, 171, 162, 0.6);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.useOwnStep2 {
  background: rgba(24, 171, 162, 0.6);
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  height: 100vh;
}
.choosePathCard {
  border: 0.5px solid rgba(255, 255, 255, 0.6);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 15px;
}

.choosePathCardWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}
.chooseCardTypo {
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
